

.f16px{	font-size: 16px;}
.f20px{	font-size: 20px;}
.f22px{	font-size: 22px;}
.f24px{	font-size: 24px;}
.f26px{	font-size: 26px;}
.f30px{	font-size: 30px;}
.f32px{	font-size: 32px;}
.f34px{	font-size: 34px;}
.f36px{	font-size: 36px;}
.f38px{	font-size: 38px;}

.f1rem{ font-size: 1rem;}
.f2rem{ font-size: 2rem;}
.f3rem{ font-size: 3rem;}
.f4rem{ font-size: 4rem;}
.f5rem{ font-size: 5rem;}
.f6rem{ font-size: 6rem;}
.f8rem{ font-size: 8rem;}
.f10rem{ font-size: 10rem;}
.f12rem{ font-size: 12rem;}
.f16rem{ font-size: 16rem;}

.lintH10px{line-height: 10px;}
.lintH12px{line-height: 12px;}
.lintH14px{line-height: 14px;}
.lintH16px{line-height: 16px;}
.lintH20px{line-height: 20px;}
.lintH24px{line-height: 24px;}
.lintH26px{line-height: 26px;}
.lintH28px{line-height: 28px;}
.lintH30px{line-height: 30px;}
.lintH40px{line-height: 40px;}
.lintH50px{line-height: 50px;}
.lintH60px{line-height: 60px;}
.lintH70px{line-height: 70px;}
.lintH80px{line-height: 80px;}







